<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="paragraphs">
      <div class="row">
        <div class="span4">
          <img style="float: left; margin-right: 10px" src="../media/profile_picture/rium.PNG" class="img-responsive" width="60" height="60"/>
          <div class="content-heading"><h3>Experience &nbsp </h3></div>
          <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>
      </div>
    </div>
</body>
</html>